@import '../../../../styles/variables.module.scss';

.diagram {
    width: 12.5vw;
    height: 6.25vh;
    color: $black;
    border-radius: 0.375rem;
    outline: $one-rem $solid;
    background-color: $white;
}
