.git
.swc
.next
.husky
.vscode
README.md
next.config.js
next.config.mjs
package-lock.json
pnpm-lock.yaml
jsconfig.json
tsconfig.json
package.json
yarn.lock

.eslintrc.js
node_modules/
src/styles/**/*.{css, scss, sass}
src/styles/**/*.module.{css, scss, sass}
