.git
.swc
.next
.husky
.vscode
README.md
next.config.js
next.config.mjs
package-lock.json
pnpm-lock.yaml
jsconfig.json
tsconfig.json
package.json
yarn.lock

.eslintrc.js
node_modules/
/public/scripts/**/*
# public/scripts/Welcome.js
# public/scripts/Welcome.ts
# public/scripts/**/*.{js, ts}
/src/lib/**/*.{js, jsx, ts, tsx}
/src/lib/**/index.js
/src/lib/rules/**/*.js
/src/styles/**/*.{css, scss, sass}
/src/styles/**/*.module.{css, scss, sass}
**/*/data-base.ts
