# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# env (environment variable)
.env
.env*.local

# testing
coverage

# vercel turbo
.vercel
.turbo

# build options
.next
.out
build
dist

# typescript
*.tsbuildinfo

# misc
.DS_Store
