@import '../../../../styles/variables.module.scss';

.bio {
    display: flex;
    margin-block: 4.375rem;
    margin-inline: 3.125rem;
}

.bioImage {
    margin-right: 3em;

    img {
        width: 16em;
        height: auto;
        border-radius: 50%;
    }
}

.bioContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioContentName {
    font-weight: $weight-900;
    font-size: $fifty-rem;
    line-height: 65px;
    color: $black;
    margin: $zero0;
    padding: $zero0;
}

.bioContentTagline {
    font-size: 1.5rem;
    line-height: 36px;
    color: $charcoal;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

.bioContentRole {
    font-weight: $weight-600;
    font-size: 1.75rem;
    line-height: 47px;
    color: $charcoal;
    margin: $zero0;
    padding: $zero0;

    list-style: none;
}

.spacer-y-20 {
    margin: $twenty-rem $zero;
}

.border-1 {
    border: $one-rem $solid;
}
