@import 'variables.module.scss';

// # color
.inherit {
    color: $inherit;
}

.current {
    color: $current-color;
}

.black {
    color: $black;
}

.pink {
    color: $pink;
}

.yellow {
    color: $yellow;
}

.gray {
    color: $gray;
}

.white {
    color: $white;
}

// # background-color
.bg {
    &-inherit {
        background-color: $inherit;
    }

    &-current {
        background-color: $current-color;
    }

    &-black {
        background-color: $black;
    }

    &-pink {
        background-color: $pink;
    }

    &-yellow {
        background-color: $yellow;
    }

    &-gray {
        background-color: $gray;
    }

    &-white {
        background-color: $white;
    }
}

// # Outline color
.outline {
    &-inherit {
        outline-color: $inherit;
    }

    &-current {
        outline-color: $current-color;
    }

    &-black {
        outline-color: $black;
    }

    &-pink {
        outline-color: $pink;
    }

    &-yellow {
        outline-color: $yellow;
    }

    &-gray {
        outline-color: $gray;
    }

    &-white {
        outline-color: $white;
    }
}
