@import 'variables.module.scss';

// # color
.inherit {
    color: $inherit;
}

.current {
    color: $current-color;
}

.black {
    color: $black;
}

.pink {
    color: $pink;
}

.yellow {
    color: $yellow;
}

.gray {
    color: $gray;
}

.white {
    color: $white;
}

// # background-color
.bg-inherit {
    background-color: $inherit;
}

.bg-current {
    background-color: $current-color;
}

.bg-black {
    background-color: $black;
}

.bg-pink {
    background-color: $pink;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-gray {
    background-color: $gray;
}

.bg-white {
    background-color: $white;
}
