@import 'variables.module.scss';
@import 'mixins.module.scss';

#modular,
.modular {
    gap: $zero0;
    display: $grid;
    margin: $zero $fifty-rem;
    padding: $zero0;
    height: $vh-hundred;
    grid-template-columns: $fr-one;
    grid-template-rows: $fifty-rem $fifty-rem $fr-one $fifty-rem;

    grid-auto-columns: $fr-one;
    grid-auto-flow: $row;
    grid-template-areas:
        'header'
        'navigation'
        'main'
        'footer';

    *,
    *:is(::before, ::after) {
        outline: $one-rem $solid;
    }
}

@include media-modular;

// HTML Layout Tag

#header,
#nav,
#main,
#footer {
    *,
    *:is(::before, ::after) {
        outline: $zero;
    }
}

#header {
    margin: $zero0;
    padding: $zero0;
    height: $fifty-rem;
    background-color: $white;

    grid-area: header;
}

#nav {
    margin: $zero0;
    padding: $zero0;
    height: $fifty-rem;
    background-color: $gray;

    grid-area: navigation;

    ul {
        margin: $zero0;
        padding: $zero0;
        height: $one-hundred;

        display: $flex;
        align-items: $center;
        justify-content: $between;

        li {
            &:nth-last-of-type(even) {
                margin-block: $zero;
                margin-inline: $sixteen-rem;
            }

            a {
                color: $inherit;
                cursor: $cursor-default;
                text-decoration: $none;

                &:hover,
                &:focus,
                &:active {
                    @include decoration-link;
                }
            }
        }
    }
}

#main {
    margin: $zero0;
    padding: $zero0;
    height: $vh-hundred;
    background-color: $white;

    grid-area: main;
}

#footer {
    // width: $one-hundred;
    // height: $fifty-rem;
    // margin: $zero0;
    // padding: $zero0;
    // outline: $zero;
    // background-color: $white;

    grid-area: footer;
}

// HTML Layout Tag: Modules Within Modular

.section {
    height: $one-hundred;
    display: $flex;
    align-items: $center;
    justify-content: $between;
    padding: $zero $twenty-rem;
}

// Company Logo: Modules Within Modular

.guzman {
    color: $inherit;
    font-size: $sixteen-rem;
    line-height: $sixteen;
    font-weight: $weight-800;
    text-transform: $capitalize;

    a {
        @include decorator-link;

        &:hover,
        &:focus,
        &:active {
            @include decorator-link;
        }
    }
}

@include media-guzman-logo;
