@import 'variables.module.scss';
@import 'mixins.module.scss';

#modular,
.modular {
    gap: $zero0;
    display: grid;
    margin: $zero0;
    padding: $zero0;
    width: $one-hundred;
    grid-template-columns: $max-rem $vh-hundred $max-rem;
    grid-template-rows: $fr-one;
}

@media (prefer-color-scheme: dark) {
    #modular,
    .modular {
        color: $white;
        background-color: $black;
    }
}

@media (prefer-color-scheme: light) {
    #modular,
    .modular {
        color: $black;
        background-color: $white;
    }
}

@media (min-width: 640px) {
    #modular,
    .modular {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    #modular,
    .modular {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    #modular,
    .modular {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    #modular,
    .modular {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    #modular,
    .modular {
        max-width: 1536px;
    }
}

.section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: $max-rem;
    background-color: $white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $white;
    // background-image: linear-gradient(to bottom, #2e026d, #15162c);
}

.footer {
    height: $max-rem;
    background-color: $white;
}

.guzman {
    color: $inherit;
    font-size: $sixteen-rem;
    line-height: $sixteen;
    font-weight: $weight-800;
    text-transform: $capitalize;
    margin: $zero0;

    a {
        @include decorator-link;

        &:hover,
        &:focus,
        &:active {
            @include decorator-link;
        }
    }
}

@media (min-width: 640px) {
    .guzman {
        font-size: 5rem;

        a {
            @include decorator-link;

            &:hover,
            &:focus,
            &:active {
                @include decorator-link;
            }
        }
    }
}
