@import 'variables.module.scss';
@import 'mixins.module.scss';

#modular,
.modular {
    gap: $zero0;
    display: $grid;
    margin: $zero $fifty-rem;
    padding: $zero0;
    height: $vh-hundred;
    grid-template-columns: $one-fr;
    grid-template-rows: repeat(2, $fifty-rem) $one-fr $fifty-rem;

    grid-auto-columns: $one-fr;
    grid-auto-flow: $row;
    grid-template-areas:
        'header'
        'navigation'
        'main'
        'footer';

    *,
    *:is(::before, ::after) {
        outline: $one-rem $solid;
    }
}

@include media-modular;

// HTML Layout Tag

#header,
#nav,
#main,
#footer {
    *,
    *:is(::before, ::after) {
        border: $zero;
        outline: $zero;
    }
}

#header {
    margin: $zero0;
    padding: $zero0;
    height: $fifty-rem;
    background-color: $white;

    grid-area: header;
}

.header-nav {
    width: auto;
    height: $one-hundred-percent;
    margin: $zero0;
    padding: $zero0;
    background-color: white;

    // grid-area: header;

    // *,
    // *:is(::before, ::after) {
    //     border-radius: $six-rem;
    //     outline: $one-rem $solid;
    // }

    section {
        height: $one-hundred-percent;
        margin: $zero0;
        padding: $zero0;
        // background-color: $yellow;
        font-size: $sixteen-rem;

        display: flex;
        align-items: center;
    }

    .profile-loading {
        margin: $zero0;
        padding: $zero0;

        font-weight: bold;
        font-size: $sixteen-rem;
    }

    .avatar {
        width: auto;
        height: 50%;
        margin: $zero0;
        padding: $zero0;

        border-radius: $sixteen-rem;
    }

    .breaker-profile {
        content: '';
        // width: auto;
        // height: 50%;
        margin: $four-rem;
        // padding: $zero0;

        // border-radius: $sixteen-rem;
    }

    .btn-signout,
    .btn-signin {
        cursor: default;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }

    h4 {
        margin: $zero0;
        padding: $zero0;
        font-weight: bold;
        font-size: $sixteen-rem;
    }
}

#nav {
    margin: $zero0;
    padding: $zero0;
    height: $fifty-rem;
    background-color: $gray;

    grid-area: navigation;

    ul {
        margin: $zero0;
        padding: $zero0;
        height: $one-hundred-percent;

        display: $flex;
        align-items: $center;
        justify-content: $between;

        li {
            &:nth-last-of-type(even) {
                margin-block: $zero;
                margin-inline: $sixteen-rem;
            }

            a {
                color: $inherit;
                cursor: $cursor-default;
                text-decoration: $none;

                &:hover,
                &:focus,
                &:active {
                    @include decoration-link;
                }
            }
        }
    }
}

#main {
    margin: $zero0;
    padding: $zero0;
    height: $vh-hundred;
    background-color: $white;

    grid-area: main;
}

#footer {
    margin: $zero0;
    padding: $zero0;
    height: $fifty-rem;
    background-color: $white;

    grid-area: footer;
}

// HTML Layout Tag: Modules Within Modular

.section {
    height: $one-hundred-percent;
    display: $flex;
    align-items: $center;
    justify-content: $between;
    margin: $zero0;
    padding: $zero $twenty-rem;
}

// Company Logo: Modules Within Modular

.guzman {
    color: $inherit;
    font-size: $sixteen-rem;
    line-height: $sixteen;
    font-weight: $weight-800;
    text-transform: $capitalize;

    a {
        @include decorator-link;

        &:hover,
        &:focus,
        &:active {
            @include decorator-link;
        }
    }
}

@include media-guzman-logo;
