@import 'variables.scss';

// Global: Text Link Configuration
@mixin decoration-link {
    color: $inherit;
    text-decoration-line: $underline;
    text-decoration-style: $solid;
    text-decoration-color: $inherit;
    text-underline-offset: $six;
}

// Guzman: Text Link Configuration
@mixin decorator-link {
    color: $inherit;
    text-decoration-line: $none;
    text-decoration-style: $none;
    text-decoration-color: $inherit;
    text-underline-offset: $zero;
}

// Global: HTML5 Body Modular Tag
@mixin media-modular {
    @media (prefer-color-scheme: $dark) {

        #modular,
        .modular {
            color: $white;
            background-color: $black;
        }
    }

    @media (prefer-color-scheme: $light) {

        #modular,
        .modular {
            color: $black;
            background-color: $white;
        }
    }
}

// Guzman: Text Logo
@mixin media-guzman-logo {
    @media (min-width: $forty-em) {
        .guzman {
            font-size: $eighty-rem;

            a {
                @include decorator-link;

                &:hover,
                &:focus,
                &:active {
                    @include decorator-link;
                }
            }
        }
    }
}