@import 'variables.module.scss';

// Global: Text Link Configuration
@mixin decoration-link {
    color: $inherit;
    outline: $zero;
    cursor: $cursor-pointer;
    text-decoration-line: $underline;
    text-decoration-style: $solid;
    text-decoration-color: $inherit;
    text-underline-offset: $six-rem;
}

// Guzman: Text Link Configuration
@mixin decorator-link {
    color: $inherit;
    outline: $zero;
    cursor: $cursor-pointer;
    text-decoration-line: $none;
    text-decoration-style: $none;
    text-decoration-color: $inherit;
    text-underline-offset: $zero;
}

// Global: HTML5 Body Modular Tag
@mixin media-modular {
    @media all and (-ms-high-contrast: $none) {
        #modular,
        .modular {
            display: -ms-grid;
            -ms-grid-columns: $one-fr;
            -ms-grid-rows: repeat(2, $fifty-rem) $one-fr $fifty-rem;
        }

        #header {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
        }

        #nav {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
        }

        #main {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
        }

        #footer {
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
        }
    }

    @media (prefer-color-scheme: $dark) {
        #modular,
        .modular {
            color: $white;
            background-color: $black;
        }
    }

    @media (prefer-color-scheme: $light) {
        #modular,
        .modular {
            color: $black;
            background-color: $white;
        }
    }

    @media (max-width: $forty-em) {
        #modular,
        .modular {
            margin: $zero $twenty-rem;
            padding: $zero0;
        }
    }
}

// Guzman: Text Logo
@mixin media-guzman-logo {
    @media (min-width: $forty-em) {
        .guzman {
            font-size: $twenty-rem;

            a {
                @include decorator-link;

                &:hover,
                &:focus,
                &:active {
                    @include decorator-link;
                }
            }
        }
    }
}

// Frame: Text Title
@mixin media-title {
    @media (min-width: $forty-em) {
        .title {
            font-size: $thirty-two-rem;
        }
    }
}

// Frame: Medium Grid Columns
@mixin medium-grid-cols {
    @media (min-width: $forty-em) {
        .md\:grid-cols {
            &-none {
                grid-template-columns: $none;
            }

            &-1 {
                grid-template-columns: repeat($one-fr, minmax($zero, $one-fr));
            }

            &-2 {
                grid-template-columns: repeat($two-fr, minmax($zero, $two-fr));
            }

            &-3 {
                grid-template-columns: repeat($three-fr, minmax($zero, $three-fr));
            }

            // &-11 {
            //     grid-template-columns: $-fr;
            // }

            // &-12 {
            //     grid-template-columns: $-fr;
            // }
            &-16 {
                grid-template-columns: repeat($sixteen-fr, minmax($zero, $sixteen-fr));
            }

            // &-12 {
            //     grid-template-columns: $-fr;
            // }
        }
    }
}

// Frame: Large Grid Columns
@mixin large-grid-cols {
    @media (min-width: $forty-em) {
        .lg\:grid-cols {
            &-none {
                grid-template-columns: $none;
            }

            &-1 {
                grid-template-columns: repeat($one-fr, minmax($zero, $one-fr));
            }

            &-2 {
                grid-template-columns: repeat($two-fr, minmax($zero, $two-fr));
            }

            &-3 {
                grid-template-columns: repeat($three-fr, minmax($zero, $three-fr));
            }

            // &-11 {
            //     grid-template-columns: $-fr;
            // }

            // &-12 {
            //     grid-template-columns: $-fr;
            // }
            &-16 {
                grid-template-columns: repeat($sixteen-fr, minmax($zero, $sixteen-fr));
            }

            // &-12 {
            //     grid-template-columns: $-fr;
            // }
        }
    }
}
