@import 'variables.module.scss';
@import 'mixins.module.scss';

*,
*:is(::before, ::after),
:is(::selection, :root),
html,
body,
main,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: $zero;
    outline: $zero;
    margin: $zero0;
    padding: $zero0;
    box-sizing: $box-sizing;

    font: $inherit;
    fill: $inherit;
    color: $inherit;
    border-color: $inherit;
    outline-color: $inherit;
    background-color: $inherit;
    vertical-align: $baseline;
    text-shadow: $none;

    unicode-bidi: isolate;
}

*,
*:is(::before, ::after) {
    margin: $zero0;
    padding: $zero0;
    box-sizing: $box-sizing;
}

::selection {
    color: $black;
    background-color: $yellow;
}

html {
    tab-size: 4;
    line-height: $one;
}

body {
    font-size: $one-hundred-percent;
}

a {
    outline: $zero;
    color: $inherit;
    cursor: default;
    text-decoration: $none;

    &:is(:hover, :focus, :active, :not([id], [class])) {
        @include decoration-link;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border: $zero;
    outline: $zero;
    font-weight: $weight-600 default;
    font-style: $normal default;
    text-transform: $capitalize default;
}

img,
picture,
video,
canvas,
svg {
    display: $block;
    max-width: $one-hundred-percent;
    border-radius: $six-rem;
}

input,
button,
textarea,
select {
    font: $inherit;
    outline: $one-rem $solid;
}

ol,
ul {
    outline: $zero;
    list-style: $none;
}

blockquote,
q {
    quotes: $none;
    outline: $zero;

    &:is(::before, ::after) {
        content: $blank;
        content: $none;
    }
}

table {
    width: $one-hundred-percent;
    text-align: $align-left;
    border-collapse: $collapse;
    border-spacing: $zero;
}

table,
th,
td {
    padding: $eight-rem;
    border: $one-rem $solid;
    text-transform: $capitalize;

    &:nth-child(even) {
        background-color: $gray;
    }
}

#root,
#__next {
    isolation: $isolate;
}

// --tw-bg-opacity: 1;
// --tw-text-opacity: 1;

// color: rgb(255 255 255/var(--tw-text-opacity));
// outline-color: rgb(255 255 255/var(--tw-bg-opacity));
// background-color: rgb(10 10 10/var(--tw-bg-opacity));
