@import 'font.module.scss';

// # Coloring Word
$black: #000000;
$yellow: #ffff00;
$pink: #cc66ff;
$gray: #cccccc;
$white: #ffffff;
$twitter: #1ea7fd;
$dark-charcoal: #333333;
$charcoal: #414141;
$bg-image: linear-gradient(to bottom, #2e026d, #15162c);

// # Color Reset
$none: none;
$auto: auto;
$solid: solid;
$block: block;
$normal: normal;
$inherit: inherit;
$isolate: isolate;
$capitalize: capitalize;
$underline: underline;
$box-sizing: border-box;
$current-color: currentColor;
$baseline: baseline;
$collapse: collapse;
$align-left: left;
$row: row;
$blank: '';
$flex: flex;
$grid: grid;
$center: center;
$between: space-between;
$cursor-default: default;
$cursor-pointer: pointer;
$resize-vertical: vertical;
$resize-horizontal: horizontal;
$resize-both: both;
$absolute: absolute;
$relative: relative;
$fixed: fixed;
$italic: italic;
$dark: dark;
$light: light;

// # Font Family
$familiar: 'Familiar Pro';
$arial: Arial, Helvetica, sans-serif;
$nunito: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// # Number
$zero: 0;
$zero0: 0 0;
$one: 1;
$sixteen: 1.6;
$one-hundred: 100%;
$vh-hundred: 100vh;

$one-rem: 0.0625rem;
$two-rem: 0.125rem;
$three-rem: 0.1875rem;
$four-rem: 0.25rem;
$six-rem: 0.375rem;
$seven-rem: 0.4375rem;
$eight-rem: 0.5rem;
$sixteen-rem: 1rem;
$twenty-rem: 1.25rem;
$twenty-four-rem: 1.5rem;
$thirty-two-rem: 3rem;
$fifty-rem: 3.125rem;
$eighty-rem: 5rem;

$one-em: 0.0625em;
$two-em: 0.125em;
$three-em: 0.1875em;
$four-em: 0.25em;
$six-em: 0.375em;
$seven-em: 0.4375em;
$eight-em: 0.5em;
$sixteen-em: 1em;
$twenty-em: 1.25em;
$twenty-four-em: 1.5em;
$thirty-two-em: 3em;
$forty-em: 40em;
$fifty-em: 3.125em;
$eighty-em: 5em;

$zero-fr: 0fr;
$one-fr: 1fr;
$two-fr: 2fr;
$three-fr: 3fr;
$four-fr: 4fr;
$six-fr: 6fr;
$seven-fr: 7fr;
$eight-fr: 8fr;
$sixteen-fr: 16fr;
$twenty-fr: 20fr;
$twenty-four-fr: 24fr;
$thirty-two-fr: 32fr;
$fifty-fr: 50fr;
$eighty-fr: 80fr;

$weight-100: 100;
$weight-200: 200;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;
$weight-900: 900;
